In [1]:
import pymysql
pymysql.install_as_MySQLdb()
%reload_ext sql

In [22]:
%sql mysql://mag129:Th2Usy9s@mqm-db/

'Connected: mag129@'

## TASK1

In [3]:
%%sql

USE lahman2016

0 rows affected.

[]

In [17]:
%%sql
SELECT *
FROM(SELECT yearID,teamID,W/G AS Winning_Perc,
            RANK() OVER (Partition by yearID ORDER BY Winning_Perc desc) AS RANK
            FROM  Teams
WHERE yearID>=2013 AND yearID<=2016) AS hey
WHERE teamID='ARI';

4 rows affected.

[(2013, 'ARI', Decimal('0.5000'), 16),
 (2014, 'ARI', Decimal('0.3951'), 30),
 (2015, 'ARI', Decimal('0.4877'), 18),
 (2016, 'ARI', Decimal('0.4259'), 24)]

In [6]:
%%sql
SELECT yearID,teamID,RANK() OVER (Partition by yearID ORDER BY HR desc) as Hr_Rank,
       ROUND((H+BB+HBP)/(AB+BB+HBP+SF),2) AS onbase_percentage,
       RANK() OVER (Partition by yearID ORDER BY onbase_percentage desc) AS onbase_rank,
       RANK() OVER (Partition by yearID ORDER BY ERA ASC) as era_rank,
       RANK() OVER (Partition by yearID ORDER BY FP desc) as Fp_Rank, 
       LgWin
FROM   Teams
WHERE  yearID>=2000 AND yearID<=2016;

510 rows affected.

[(2000, 'ANA', 4, 0.35, 9, 21, 23, 'N'),
 (2000, 'ARI', 16, 0.33, 23, 7, 11, 'N'),
 (2000, 'ATL', 16, 0.35, 9, 1, 21, 'N'),
 (2000, 'BAL', 14, 0.34, 15, 27, 14, 'N'),
 (2000, 'BOS', 23, 0.34, 15, 5, 11, 'N'),
 (2000, 'CHA', 8, 0.36, 2, 14, 23, 'N'),
 (2000, 'CHN', 15, 0.33, 23, 25, 6, 'N'),
 (2000, 'CIN', 11, 0.34, 15, 6, 11, 'N'),
 (2000, 'CLE', 7, 0.37, 1, 18, 1, 'N'),
 (2000, 'COL', 25, 0.36, 2, 26, 2, 'N'),
 (2000, 'DET', 19, 0.34, 15, 15, 6, 'N'),
 (2000, 'FLO', 26, 0.33, 23, 12, 19, 'N'),
 (2000, 'HOU', 1, 0.36, 2, 28, 23, 'N'),
 (2000, 'KCA', 28, 0.35, 9, 29, 6, 'N'),
 (2000, 'LAN', 9, 0.34, 15, 2, 23, 'N'),
 (2000, 'MIL', 19, 0.33, 23, 13, 14, 'N'),
 (2000, 'MIN', 30, 0.34, 15, 23, 6, 'N'),
 (2000, 'MON', 18, 0.33, 23, 22, 23, 'N'),
 (2000, 'NYA', 10, 0.35, 9, 16, 14, 'Y'),
 (2000, 'NYN', 12, 0.35, 9, 3, 19, 'Y'),
 (2000, 'OAK', 3, 0.36, 2, 11, 23, 'N'),
 (2000, 'PHI', 29, 0.33, 23, 17, 6, 'N'),
 (2000, 'PIT', 22, 0.34, 15, 20, 21, 'N'),
 (2000, 'SDN', 27, 0.33, 23, 10, 30, 'N'),
 (2000, 'SEA', 12, 0.36, 2, 9, 4, 'N'),
 (2000, 'SFN', 6, 0.36, 2, 4, 2, 'N'),
 (2000, 'SLN', 5, 0.36, 2, 8, 14, 'N'),
 (2000, 'TBA', 24, 0.33, 23, 19, 14, 'N'),
 (2000, 'TEX', 21, 0.35, 9, 30, 23, 'N'),
 (2000, 'TOR', 2, 0.34, 15, 23, 4, 'N'),
 (2001, 'ANA', 24, 0.33, 13, 12, 6, 'N'),
 (2001, 'ARI', 7, 0.34, 6, 4, 1, 'Y'),
 (2001, 'ATL', 17, 0.32, 20, 2, 6, 'N'),
 (2001, 'BAL', 28, 0.32, 20, 22, 25, 'N'),
 (2001, 'BOS', 13, 0.33, 13, 9, 18, 'N'),
 (2001, 'CHA', 3, 0.33, 13, 19, 18, 'N'),
 (2001, 'CHN', 15, 0.34, 6, 7, 11, 'N'),
 (2001, 'CIN', 16, 0.32, 20, 24, 27, 'N'),
 (2001, 'CLE', 5, 0.35, 2, 20, 11, 'N'),
 (2001, 'COL', 4, 0.35, 2, 29, 5, 'N'),
 (2001, 'DET', 27, 0.32, 20, 27, 25, 'N'),
 (2001, 'FLO', 19, 0.33, 13, 15, 6, 'N'),
 (2001, 'HOU', 7, 0.35, 2, 16, 11, 'N'),
 (2001, 'KCA', 25, 0.32, 20, 25, 18, 'N'),
 (2001, 'LAN', 9, 0.32, 20, 13, 18, 'N'),
 (2001, 'MIL', 6, 0.32, 20, 20, 6, 'N'),
 (2001, 'MIN', 20, 0.34, 6, 17, 11, 'N'),
 (2001, 'MON', 29, 0.32, 20, 23, 11, 'N'),
 (2001, 'NYA', 10, 0.33, 13, 6, 11, 'Y'),
 (2001, 'NYN', 26, 0.32, 20, 8, 6, 'N'),
 (2001, 'OAK', 11, 0.35, 2, 2, 24, 'N'),
 (2001, 'PHI', 20, 0.33, 13, 9, 3, 'N'),
 (2001, 'PIT', 22, 0.31, 30, 28, 27, 'N'),
 (2001, 'SDN', 22, 0.34, 6, 18, 30, 'N'),
 (2001, 'SEA', 18, 0.36, 1, 1, 1, 'N'),
 (2001, 'SFN', 2, 0.34, 6, 11, 18, 'N'),
 (2001, 'SLN', 11, 0.34, 6, 5, 11, 'N'),
 (2001, 'TBA', 30, 0.32, 20, 26, 29, 'N'),
 (2001, 'TEX', 1, 0.34, 6, 30, 18, 'N'),
 (2001, 'TOR', 14, 0.33, 13, 14, 3, 'N'),
 (2002, 'ANA', 21, 0.34, 5, 4, 2, 'Y'),
 (2002, 'ARI', 14, 0.35, 1, 10, 5, 'N'),
 (2002, 'ATL', 17, 0.33, 15, 1, 17, 'N'),
 (2002, 'BAL', 14, 0.31, 28, 20, 5, 'N'),
 (2002, 'BOS', 9, 0.35, 1, 7, 13, 'N'),
 (2002, 'CHA', 3, 0.34, 5, 21, 10, 'N'),
 (2002, 'CHN', 5, 0.32, 20, 18, 21, 'N'),
 (2002, 'CIN', 11, 0.33, 15, 17, 21, 'N'),
 (2002, 'CLE', 7, 0.32, 20, 25, 21, 'N'),
 (2002, 'COL', 21, 0.34, 5, 28, 17, 'N'),
 (2002, 'DET', 30, 0.3, 30, 26, 29, 'N'),
 (2002, 'FLO', 24, 0.34, 5, 19, 13, 'N'),
 (2002, 'HOU', 12, 0.34, 5, 12, 2, 'N'),
 (2002, 'KCA', 26, 0.32, 20, 29, 24, 'N'),
 (2002, 'LAN', 20, 0.32, 20, 4, 5, 'N'),
 (2002, 'MIL', 27, 0.32, 20, 23, 13, 'N'),
 (2002, 'MIN', 12, 0.33, 15, 14, 1, 'N'),
 (2002, 'MON', 18, 0.33, 15, 11, 28, 'N'),
 (2002, 'NYA', 2, 0.35, 1, 8, 24, 'N'),
 (2002, 'NYN', 19, 0.32, 20, 9, 30, 'N'),
 (2002, 'OAK', 4, 0.34, 5, 3, 10, 'N'),
 (2002, 'PHI', 14, 0.34, 5, 15, 2, 'N'),
 (2002, 'PIT', 25, 0.32, 20, 16, 17, 'N'),
 (2002, 'SDN', 28, 0.32, 20, 22, 24, 'N'),
 (2002, 'SEA', 21, 0.35, 1, 13, 5, 'N'),
 (2002, 'SFN', 6, 0.34, 5, 2, 5, 'Y'),
 (2002, 'SLN', 10, 0.34, 5, 6, 13, 'N'),
 (2002, 'TBA', 29, 0.31, 28, 30, 24, 'N'),
 (2002, 'TEX', 1, 0.34, 5, 27, 10, 'N'),
 (2002, 'TOR', 8, 0.33, 15, 24, 17, 'N'),
 (2003, 'ANA', 24, 0.33, 14, 15, 17, 'N'),
 (2003, 'ARI', 22, 0.33, 14, 6, 10, 'N'),
 (2003, 'ATL', 3, 0.35, 3, 12, 20, 'N'),
 (2003, 'BAL', 22, 0.32, 23, 22, 10, 'N'),
 (2003, 'BOS', 2, 0.36, 1, 17, 17, 'N'),
 (2003, 'CHA', 5, 0.33, 14, 13, 8, 'N'),
 (2003, 'CHN', 14, 0.32, 23, 5, 10, 'N'),
 (2003, 'CIN', 11, 0.32, 23, 27, 30, 'N'),
 (2003, 'CLE', 18, 0.32, 23, 14, 26, 'N'),
 (2003, 'COL', 6, 0.34, 6, 28, 20, 'N'),
 (2003, 'DET', 21, 0.3, 29, 29, 29, 'N'),
 (2003, 'FLO', 19, 0.33, 14, 10, 2, 'Y'),
 (2003, 'HOU', 9, 0.34, 6, 7, 5, 'N'),
 (2003, 'KCA', 17, 0.34, 6, 26, 17, 'N'),
 (2003, 'LAN', 29, 0.3, 29, 1, 20, 'N'),
 (2003, 'MIL', 7, 0.33, 14, 25, 20, 'N'),
 (2003, 'MIN', 20, 0.34, 6, 16, 5, 'N'),
 (2003, 'MON', 25, 0.33, 14, 8, 10, 'N'),
 (2003, 'NYA', 4, 0.36, 1, 9, 20, 'Y'),
 (2003, 'NYN', 29, 0.31, 28, 17, 26, 'N'),
 (2003, 'OAK', 13, 0.33, 14, 2, 10, 'N'),
 (2003, 'PHI', 15, 0.34, 6, 10, 8, 'N'),
 (2003, 'PIT', 16, 0.34, 6, 20, 26, 'N'),
 (2003, 'SDN', 28, 0.33, 14, 23, 10, 'N'),
 (2003, 'SEA', 26, 0.34, 6, 4, 1, 'N'),
 (2003, 'SFN', 12, 0.34, 6, 3, 2, 'N'),
 (2003, 'SLN', 7, 0.35, 3, 19, 2, 'N'),
 (2003, 'TBA', 27, 0.32, 23, 24, 10, 'N'),
 (2003, 'TEX', 1, 0.33, 14, 30, 5, 'N'),
 (2003, 'TOR', 10, 0.35, 3, 21, 20, 'N'),
 (2004, 'ANA', 20, 0.34, 7, 13, 7, 'N'),
 (2004, 'ARI', 29, 0.31, 29, 27, 29, 'N'),
 (2004, 'ATL', 18, 0.34, 7, 1, 21, 'N'),
 (2004, 'BAL', 19, 0.34, 7, 20, 19, 'N'),
 (2004, 'BOS', 5, 0.36, 1, 11, 21, 'Y'),
 (2004, 'CHA', 1, 0.33, 15, 24, 10, 'N'),
 (2004, 'CHN', 3, 0.33, 15, 3, 3, 'N'),
 (2004, 'CIN', 11, 0.33, 15, 29, 21, 'N'),
 (2004, 'CLE', 16, 0.35, 3, 22, 15, 'N'),
 (2004, 'COL', 9, 0.35, 3, 30, 3, 'N'),
 (2004, 'DET', 10, 0.34, 7, 26, 29, 'N'),
 (2004, 'FLO', 23, 0.33, 15, 9, 3, 'N'),
 (2004, 'HOU', 14, 0.34, 7, 7, 15, 'N'),
 (2004, 'KCA', 22, 0.32, 24, 28, 27, 'N'),
 (2004, 'LAN', 8, 0.33, 15, 4, 1, 'N'),
 (2004, 'MIL', 29, 0.32, 24, 12, 21, 'N'),
 (2004, 'MIN', 12, 0.33, 15, 5, 10, 'N'),
 (2004, 'MON', 21, 0.31, 29, 16, 10, 'N'),
 (2004, 'NYA', 1, 0.35, 3, 19, 10, 'N'),
 (2004, 'NYN', 15, 0.32, 24, 8, 27, 'N'),
 (2004, 'OAK', 13, 0.34, 7, 10, 3, 'N'),
 (2004, 'PHI', 6, 0.35, 3, 17, 2, 'N'),
 (2004, 'PIT', 26, 0.32, 24, 14, 15, 'N'),
 (2004, 'SDN', 27, 0.34, 7, 5, 19, 'N'),
 (2004, 'SEA', 28, 0.33, 15, 21, 15, 'N'),
 (2004, 'SFN', 17, 0.36, 1, 14, 10, 'N'),
 (2004, 'SLN', 7, 0.34, 7, 2, 7, 'Y'),
 (2004, 'TBA', 24, 0.32, 24, 22, 26, 'N'),
 (2004, 'TEX', 4, 0.33, 15, 18, 21, 'N'),
 (2004, 'TOR', 24, 0.33, 15, 24, 7, 'N'),
 (2005, 'ARI', 8, 0.33, 7, 25, 5, 'N'),
 (2005, 'ATL', 10, 0.33, 7, 11, 1, 'N'),
 (2005, 'BAL', 9, 0.33, 7, 23, 21, 'N'),
 (2005, 'BOS', 6, 0.36, 1, 24, 21, 'N'),
 (2005, 'CHA', 5, 0.32, 20, 3, 5, 'Y'),
 (2005, 'CHN', 7, 0.32, 20, 15, 15, 'N'),
 (2005, 'CIN', 3, 0.34, 4, 28, 15, 'N'),
 (2005, 'CLE', 4, 0.33, 7, 3, 15, 'N'),
 (2005, 'COL', 19, 0.33, 7, 27, 26, 'N'),
 (2005, 'DET', 14, 0.32, 20, 21, 21, 'N'),
 (2005, 'FLO', 27, 0.34, 4, 14, 15, 'N'),
 (2005, 'HOU', 16, 0.32, 20, 2, 5, 'Y'),
 (2005, 'KCA', 29, 0.32, 20, 30, 29, 'N'),
 (2005, 'LAA', 21, 0.33, 7, 5, 1, 'N'),
 (2005, 'LAN', 20, 0.33, 7, 18, 15, 'N'),
 (2005, 'MIL', 11, 0.33, 7, 10, 28, 'N'),
 (2005, 'MIN', 24, 0.32, 20, 7, 12, 'N'),
 (2005, 'NYA', 2, 0.35, 2, 22, 12, 'N'),
 (2005, 'NYN', 11, 0.32, 20, 8, 15, 'N'),
 (2005, 'OAK', 18, 0.33, 7, 6, 1, 'N'),
 (2005, 'PHI', 15, 0.35, 2, 16, 5, 'N'),
 (2005, 'PIT', 22, 0.32, 20, 19, 26, 'N'),
 (2005, 'SDN', 25, 0.33, 7, 13, 21, 'N'),
 (2005, 'SEA', 25, 0.32, 20, 20, 1, 'N'),
 (2005, 'SFN', 27, 0.32, 20, 17, 5, 'N'),
 (2005, 'SLN', 13, 0.34, 4, 1, 12, 'N'),
 (2005, 'TBA', 17, 0.33, 7, 29, 29, 'N'),
 (2005, 'TEX', 1, 0.33, 7, 26, 21, 'N'),
 (2005, 'TOR', 23, 0.33, 7, 12, 5, 'N'),
 (2005, 'WAS', 30, 0.32, 20, 9, 5, 'N'),
 (2006, 'ARI', 24, 0.33, 17, 13, 15, 'N'),
 (2006, 'ATL', 2, 0.34, 8, 17, 10, 'N'),
 (2006, 'BAL', 20, 0.34, 8, 29, 15, 'N'),
 (2006, 'BOS', 10, 0.35, 2, 26, 1, 'N'),
 (2006, 'CHA', 1, 0.34, 8, 21, 5, 'N'),
 (2006, 'CHN', 19, 0.32, 28, 24, 22, 'N'),
 (2006, 'CIN', 3, 0.34, 8, 14, 27, 'N'),
 (2006, 'CLE', 9, 0.35, 2, 11, 24, 'N'),
 (2006, 'COL', 26, 0.34, 8, 23, 5, 'N'),
 (2006, 'DET', 6, 0.33, 17, 1, 15, 'Y'),
 (2006, 'FLO', 14, 0.33, 17, 9, 27, 'N'),
 (2006, 'HOU', 17, 0.33, 17, 5, 2, 'N'),
 (2006, 'KCA', 30, 0.33, 17, 30, 10, 'N'),
 (2006, 'LAA', 25, 0.33, 17, 4, 27, 'N'),
 (2006, 'LAN', 27, 0.35, 2, 8, 22, 'N'),
 (2006, 'MIL', 15, 0.33, 17, 25, 26, 'N'),
 (2006, 'MIN', 28, 0.35, 2, 3, 3, 'N'),
 (2006, 'NYA', 5, 0.36, 1, 11, 15, 'N'),
 (2006, 'NYN', 7, 0.33, 17, 6, 15, 'N'),
 (2006, 'OAK', 16, 0.34, 8, 7, 3, 'N'),
 (2006, 'PHI', 4, 0.35, 2, 17, 15, 'N'),
 (2006, 'PIT', 29, 0.33, 17, 15, 15, 'N'),
 (2006, 'SDN', 23, 0.33, 17, 2, 5, 'N'),
 (2006, 'SEA', 18, 0.33, 17, 17, 5, 'N'),
 (2006, 'SFN', 22, 0.32, 28, 22, 5, 'N'),
 (2006, 'SLN', 12, 0.34, 8, 16, 10, 'Y'),
 (2006, 'TBA', 11, 0.31, 30, 27, 24, 'N'),
 (2006, 'TEX', 13, 0.34, 8, 17, 10, 'N'),
 (2006, 'TOR', 8, 0.35, 2, 9, 10, 'N'),
 (2006, 'WAS', 20, 0.34, 8, 28, 30, 'N'),
 (2007, 'ARI', 13, 0.32, 24, 7, 17, 'N'),
 (2007, 'ATL', 12, 0.34, 5, 6, 17, 'N'),
 (2007, 'BAL', 23, 0.33, 17, 29, 2, 'N'),
 (2007, 'BOS', 18, 0.36, 2, 2, 3, 'Y'),
 (2007, 'CHA', 6, 0.32, 24, 25, 22, 'N'),
 (2007, 'CHN', 21, 0.33, 17, 4, 12, 'N'),
 (2007, 'CIN', 3, 0.34, 5, 27, 12, 'N'),
 (2007, 'CLE', 9, 0.34, 5, 5, 7, 'N'),
 (2007, 'COL', 13, 0.35, 3, 14, 1, 'Y'),
 (2007, 'DET', 10, 0.34, 5, 18, 12, 'N'),
 (2007, 'FLO', 4, 0.34, 5, 27, 30, 'N'),
 (2007, 'HOU', 17, 0.33, 17, 21, 17, 'N'),
 (2007, 'KCA', 30, 0.32, 24, 16, 22, 'N'),
 (2007, 'LAA', 27, 0.34, 5, 11, 17, 'N'),
 (2007, 'LAN', 26, 0.34, 5, 10, 26, 'N'),
 (2007, 'MIL', 1, 0.33, 17, 15, 22, 'N'),
 (2007, 'MIN', 29, 0.33, 17, 8, 12, 'N'),
 (2007, 'NYA', 4, 0.37, 1, 17, 7, 'N'),
 (2007, 'NYN', 10, 0.34, 5, 12, 17, 'N'),
 (2007, 'OAK', 13, 0.34, 5, 13, 7, 'N'),
 (2007, 'PHI', 2, 0.35, 3, 22, 3, 'N'),
 (2007, 'PIT', 22, 0.32, 24, 26, 3, 'N'),
 (2007, 'SDN', 13, 0.32, 24, 1, 7, 'N'),
 (2007, 'SEA', 20, 0.34, 5, 22, 7, 'N'),
 (2007, 'SFN', 25, 0.32, 24, 9, 3, 'N'),
 (2007, 'SLN', 24, 0.34, 5, 20, 27, 'N'),
 (2007, 'TBA', 7, 0.34, 5, 30, 27, 'N'),
 (2007, 'TEX', 8, 0.33, 17, 24, 27, 'N'),
 (2007, 'TOR', 19, 0.33, 17, 3, 12, 'N'),
 (2007, 'WAS', 27, 0.32, 24, 19, 22, 'N'),
 (2008, 'ARI', 18, 0.33, 13, 7, 25, 'N'),
 (2008, 'ATL', 23, 0.35, 2, 21, 18, 'N'),
 (2008, 'BAL', 13, 0.33, 13, 29, 18, 'N'),
 (2008, 'BOS', 12, 0.36, 1, 9, 2, 'N'),
 (2008, 'CHA', 1, 0.33, 13, 11, 18, 'N'),
 (2008, 'CHN', 8, 0.35, 2, 5, 18, 'N'),
 (2008, 'CIN', 7, 0.32, 22, 23, 25, 'N'),
 (2008, 'CLE', 15, 0.34, 6, 20, 8, 'N'),
 (2008, 'COL', 17, 0.34, 6, 26, 8, 'N'),
 (2008, 'DET', 4, 0.34, 6, 27, 25, 'N'),
 (2008, 'FLO', 3, 0.33, 13, 19, 28, 'N'),
 (2008, 'HOU', 16, 0.32, 22, 16, 1, 'N'),
 (2008, 'KCA', 27, 0.32, 22, 22, 13, 'N'),
 (2008, 'LAA', 18, 0.33, 13, 8, 8, 'N'),
 (2008, 'LAN', 22, 0.33, 13, 2, 13, 'N'),
 (2008, 'MIL', 5, 0.33, 13, 4, 13, 'N'),
 (2008, 'MIN', 29, 0.34, 6, 13, 24, 'N'),
 (2008, 'NYA', 9, 0.34, 6, 15, 2, 'N'),
 (2008, 'NYN', 13, 0.34, 6, 12, 2, 'N'),
 (2008, 'OAK', 25, 0.32, 22, 9, 13, 'N'),
 (2008, 'PHI', 2, 0.33, 13, 6, 8, 'Y'),
 (2008, 'PIT', 21, 0.32, 22, 28, 18, 'N'),
 (2008, 'SDN', 20, 0.32, 22, 18, 2, 'N'),
 (2008, 'SEA', 26, 0.32, 22, 25, 13, 'N'),
 (2008, 'SFN', 30, 0.32, 22, 17, 18, 'N'),
 (2008, 'SLN', 11, 0.35, 2, 14, 2, 'N'),
 (2008, 'TBA', 9, 0.34, 6, 3, 8, 'Y'),
 (2008, 'TEX', 6, 0.35, 2, 30, 30, 'N'),
 (2008, 'TOR', 24, 0.33, 13, 1, 2, 'N'),
 (2008, 'WAS', 28, 0.32, 22, 24, 28, 'N'),
 (2009, 'ARI', 11, 0.32, 22, 19, 28, 'N'),
 (2009, 'ATL', 22, 0.34, 5, 3, 10, 'N'),
 (2009, 'BAL', 16, 0.33, 14, 30, 10, 'N'),
 (2009, 'BOS', 4, 0.35, 2, 16, 6, 'N'),
 (2009, 'CHA', 8, 0.33, 14, 7, 27, 'N'),
 (2009, 'CHN', 14, 0.33, 14, 5, 21, 'N'),
 (2009, 'CIN', 20, 0.32, 22, 9, 10, 'N'),
 (2009, 'CLE', 14, 0.34, 5, 29, 17, 'N'),
 (2009, 'COL', 7, 0.34, 5, 10, 6, 'N'),
 (2009, 'DET', 9, 0.33, 14, 13, 10, 'N'),
 (2009, 'FLO', 19, 0.34, 5, 13, 24, 'N'),
 (2009, 'HOU', 25, 0.32, 22, 24, 3, 'N'),
 (2009, 'KCA', 24, 0.32, 22, 26, 28, 'N'),
 (2009, 'LAA', 11, 0.35, 2, 20, 6, 'N'),
 (2009, 'LAN', 23, 0.35, 2, 1, 6, 'N'),
 (2009, 'MIL', 10, 0.34, 5, 26, 17, 'N'),
 (2009, 'MIN', 13, 0.34, 5, 23, 3, 'N'),
 (2009, 'NYA', 1, 0.36, 1, 11, 10, 'Y'),
 (2009, 'NYN', 30, 0.34, 5, 20, 17, 'N'),
 (2009, 'OAK', 27, 0.33, 14, 11, 21, 'N'),
 (2009, 'PHI', 2, 0.33, 14, 8, 3, 'Y'),
 (2009, 'PIT', 28, 0.32, 22, 25, 1, 'N'),
 (2009, 'SDN', 26, 0.32, 22, 17, 17, 'N'),
 (2009, 'SEA', 16, 0.31, 29, 6, 24, 'N'),
 (2009, 'SFN', 29, 0.31, 29, 2, 10, 'N'),
 (2009, 'SLN', 16, 0.33, 14, 4, 10, 'N'),
 (2009, 'TBA', 6, 0.34, 5, 15, 21, 'N'),
 (2009, 'TEX', 2, 0.32, 22, 18, 24, 'N'),
 (2009, 'TOR', 5, 0.33, 14, 22, 1, 'N'),
 (2009, 'WAS', 21, 0.34, 5, 28, 30, 'N'),
 (2010, 'ARI', 6, 0.32, 15, 28, 14, 'N'),
 (2010, 'ATL', 20, 0.34, 2, 3, 25, 'N'),
 (2010, 'BAL', 21, 0.32, 15, 27, 18, 'N'),
 (2010, 'BOS', 2, 0.34, 2, 22, 18, 'N'),
 (2010, 'CHA', 7, 0.33, 9, 17, 14, 'N'),
 (2010, 'CHN', 17, 0.32, 15, 21, 27, 'N'),
 (2010, 'CIN', 4, 0.34, 2, 12, 1, 'N'),
 (2010, 'CLE', 23, 0.32, 15, 24, 18, 'N'),
 (2010, 'COL', 8, 0.34, 2, 20, 10, 'N'),
 (2010, 'DET', 14, 0.34, 2, 24, 18, 'N'),
 (2010, 'FLO', 14, 0.32, 15, 16, 27, 'N'),
 (2010, 'HOU', 29, 0.3, 28, 17, 14, 'N'),
 (2010, 'KCA', 26, 0.33, 9, 29, 25, 'N'),
 (2010, 'LAA', 13, 0.31, 25, 14, 24, 'N'),
 (2010, 'LAN', 27, 0.32, 15, 12, 10, 'N'),
 (2010, 'MIL', 5, 0.33, 9, 26, 14, 'N'),
 (2010, 'MIN', 19, 0.34, 2, 11, 5, 'N'),
 (2010, 'NYA', 3, 0.35, 1, 15, 1, 'N'),
 (2010, 'NYN', 23, 0.31, 25, 7, 6, 'N'),
 (2010, 'OAK', 28, 0.32, 15, 3, 10, 'N'),
 (2010, 'PHI', 9, 0.33, 9, 6, 6, 'N'),
 (2010, 'PIT', 25, 0.3, 28, 30, 27, 'N'),
 (2010, 'SDN', 22, 0.32, 15, 2, 1, 'N'),
 (2010, 'SEA', 30, 0.3, 28, 9, 18, 'N'),
 (2010, 'SFN', 10, 0.32, 15, 1, 1, 'Y'),
 (2010, 'SLN', 16, 0.33, 9, 5, 10, 'N'),
 (2010, 'TBA', 12, 0.33, 9, 8, 6, 'N'),
 (2010, 'TEX', 10, 0.34, 2, 9, 18, 'Y'),
 (2010, 'TOR', 1, 0.31, 25, 23, 9, 'N'),
 (2010, 'WAS', 17, 0.32, 15, 19, 27, 'N'),
 (2011, 'ARI', 9, 0.32, 10, 14, 6, 'N'),
 (2011, 'ATL', 8, 0.31, 20, 4, 3, 'N'),
 (2011, 'BAL', 4, 0.32, 10, 30, 18, 'N'),
 (2011, 'BOS', 3, 0.35, 1, 22, 6, 'N'),
 (2011, 'CHA', 15, 0.32, 10, 19, 3, 'N'),
 (2011, 'CHN', 20, 0.31, 20, 25, 30, 'N'),
 (2011, 'CIN', 7, 0.33, 6, 20, 6, 'N'),
 (2011, 'CLE', 15, 0.32, 10, 23, 18, 'N'),
 (2011, 'COL', 12, 0.33, 6, 26, 13, 'N'),
 (2011, 'DET', 11, 0.34, 2, 17, 14, 'N'),
 (2011, 'FLO', 19, 0.32, 10, 16, 6, 'N'),
 (2011, 'HOU', 29, 0.31, 20, 28, 25, 'N'),
 (2011, 'KCA', 21, 0.33, 6, 27, 6, 'N'),
 (2011, 'LAA', 14, 0.31, 20, 6, 6, 'N'),
 (2011, 'LAN', 23, 0.32, 10, 5, 5, 'N'),
 (2011, 'MIL', 6, 0.32, 10, 9, 18, 'N'),
 (2011, 'MIN', 28, 0.31, 20, 29, 28, 'N'),
 (2011, 'NYA', 1, 0.34, 2, 11, 14, 'N'),
 (2011, 'NYN', 26, 0.33, 6, 21, 25, 'N'),
 (2011, 'OAK', 24, 0.31, 20, 10, 29, 'N'),
 (2011, 'PHI', 18, 0.32, 10, 1, 1, 'N'),
 (2011, 'PIT', 27, 0.31, 20, 17, 18, 'N'),
 (2011, 'SDN', 30, 0.3, 28, 3, 6, 'N'),
 (2011, 'SEA', 25, 0.29, 30, 15, 18, 'N'),
 (2011, 'SFN', 22, 0.3, 28, 2, 14, 'N'),
 (2011, 'SLN', 13, 0.34, 2, 12, 18, 'Y'),
 (2011, 'TBA', 9, 0.32, 10, 7, 1, 'N'),
 (2011, 'TEX', 2, 0.34, 2, 13, 25, 'Y'),
 (2011, 'TOR', 5, 0.32, 10, 24, 18, 'N'),
 (2011, 'WAS', 15, 0.31, 20, 7, 14, 'N'),
 (2012, 'ARI', 14, 0.33, 3, 15, 6, 'N'),
 (2012, 'ATL', 19, 0.32, 9, 5, 4, 'N'),
 (2012, 'BAL', 2, 0.31, 23, 14, 13, 'N'),
 (2012, 'BOS', 14, 0.32, 9, 27, 13, 'N'),
 (2012, 'CHA', 3, 0.32, 9, 18, 1, 'N'),
 (2012, 'CHN', 23, 0.3, 27, 24, 22, 'N'),
 (2012, 'CIN', 11, 0.32, 9, 3, 6, 'N'),
 (2012, 'CLE', 25, 0.32, 9, 29, 9, 'N'),
 (2012, 'COL', 13, 0.33, 3, 30, 29, 'N'),
 (2012, 'DET', 16, 0.33, 3, 9, 13, 'Y'),
 (2012, 'HOU', 21, 0.3, 27, 25, 25, 'N'),
 (2012, 'KCA', 26, 0.32, 9, 23, 25, 'N'),
 (2012, 'LAA', 9, 0.33, 3, 18, 9, 'N'),
 (2012, 'LAN', 29, 0.32, 9, 3, 9, 'N'),
 (2012, 'MIA', 23, 0.31, 23, 20, 13, 'N'),
 (2012, 'MIL', 4, 0.32, 9, 22, 13, 'N'),
 (2012, 'MIN', 26, 0.32, 9, 28, 13, 'N'),
 (2012, 'NYA', 1, 0.34, 1, 12, 3, 'N'),
 (2012, 'NYN', 22, 0.32, 9, 20, 13, 'N'),
 (2012, 'OAK', 7, 0.31, 23, 6, 22, 'N'),
 (2012, 'PHI', 18, 0.32, 9, 11, 13, 'N'),
 (2012, 'PIT', 12, 0.3, 27, 13, 22, 'N'),
 (2012, 'SDN', 28, 0.32, 9, 17, 29, 'N'),
 (2012, 'SEA', 19, 0.3, 27, 10, 1, 'N'),
 (2012, 'SFN', 30, 0.33, 3, 7, 25, 'Y'),
 (2012, 'SLN', 17, 0.34, 1, 8, 13, 'N'),
 (2012, 'TBA', 10, 0.32, 9, 1, 25, 'N'),
 (2012, 'TEX', 5, 0.33, 3, 16, 4, 'N'),
 (2012, 'TOR', 6, 0.31, 23, 26, 9, 'N'),
 (2012, 'WAS', 8, 0.32, 9, 2, 6, 'N'),
 (2013, 'ARI', 25, 0.32, 10, 17, 3, 'N'),
 (2013, 'ATL', 5, 0.32, 10, 1, 10, 'N'),
 (2013, 'BAL', 1, 0.31, 16, 23, 1, 'N'),
 (2013, 'BOS', 6, 0.35, 1, 14, 7, 'Y'),
 (2013, 'CHA', 19, 0.3, 27, 19, 29, 'N'),
 (2013, 'CHN', 9, 0.3, 27, 21, 20, 'N'),
 (2013, 'CIN', 17, 0.33, 3, 4, 3, 'N'),
 (2013, 'CLE', 10, 0.33, 3, 15, 20, 'N'),
 (2013, 'COL', 15, 0.32, 10, 28, 10, 'N'),
 (2013, 'DET', 7, 0.35, 1, 9, 7, 'N'),
 (2013, 'HOU', 19, 0.3, 27, 30, 30, 'N'),
 (2013, 'KCA', 28, 0.31, 16, 6, 10, 'N'),
 (2013, 'LAA', 12, 0.33, 3, 24, 27, 'N'),
 (2013, 'LAN', 24, 0.33, 3, 2, 23, 'N'),
 (2013, 'MIA', 30, 0.29, 30, 11, 10, 'N'),
 (2013, 'MIL', 16, 0.31, 16, 16, 27, 'N'),
 (2013, 'MIN', 18, 0.31, 16, 29, 7, 'N'),
 (2013, 'NYA', 22, 0.31, 16, 18, 3, 'N'),
 (2013, 'NYN', 25, 0.31, 16, 13, 17, 'N'),
 (2013, 'OAK', 3, 0.33, 3, 7, 20, 'N'),
 (2013, 'PHI', 23, 0.31, 16, 27, 18, 'N'),
 (2013, 'PIT', 13, 0.31, 16, 3, 18, 'N'),
 (2013, 'SDN', 21, 0.31, 16, 19, 10, 'N'),
 (2013, 'SEA', 2, 0.31, 16, 26, 10, 'N'),
 (2013, 'SFN', 29, 0.32, 10, 21, 23, 'N'),
 (2013, 'SLN', 27, 0.33, 3, 5, 3, 'Y'),
 (2013, 'TBA', 11, 0.33, 3, 12, 2, 'N'),
 (2013, 'TEX', 7, 0.32, 10, 10, 10, 'N'),
 (2013, 'TOR', 4, 0.32, 10, 25, 23, 'N'),
 (2013, 'WAS', 13, 0.31, 16, 8, 23, 'N'),
 (2014, 'ARI', 25, 0.3, 24, 26, 17, 'N'),
 (2014, 'ATL', 22, 0.3, 24, 5, 3, 'N'),
 (2014, 'BAL', 1, 0.31, 15, 7, 3, 'N'),
 (2014, 'BOS', 22, 0.32, 5, 23, 7, 'N'),
 (2014, 'CHA', 7, 0.31, 15, 27, 27, 'N'),
 (2014, 'CHN', 5, 0.3, 24, 21, 17, 'N'),
 (2014, 'CIN', 18, 0.3, 24, 16, 1, 'N'),
 (2014, 'CLE', 14, 0.32, 5, 13, 30, 'N'),
 (2014, 'COL', 2, 0.33, 1, 30, 17, 'N'),
 (2014, 'DET', 7, 0.33, 1, 23, 17, 'N'),
 (2014, 'HOU', 4, 0.31, 15, 25, 17, 'N'),
 (2014, 'KCA', 30, 0.31, 15, 12, 17, 'Y'),
 (2014, 'LAA', 7, 0.32, 5, 15, 3, 'N'),
 (2014, 'LAN', 16, 0.33, 1, 6, 17, 'N'),
 (2014, 'MIA', 24, 0.32, 5, 19, 11, 'N'),
 (2014, 'MIL', 11, 0.31, 15, 17, 11, 'N'),
 (2014, 'MIN', 19, 0.32, 5, 29, 11, 'N'),
 (2014, 'NYA', 12, 0.31, 15, 18, 11, 'N'),
 (2014, 'NYN', 20, 0.31, 15, 9, 17, 'N'),
 (2014, 'OAK', 13, 0.32, 5, 3, 27, 'N'),
 (2014, 'PHI', 20, 0.3, 24, 20, 2, 'N'),
 (2014, 'PIT', 6, 0.33, 1, 8, 17, 'N'),
 (2014, 'SDN', 28, 0.29, 30, 4, 17, 'N'),
 (2014, 'SEA', 15, 0.3, 24, 2, 3, 'N'),
 (2014, 'SFN', 17, 0.31, 15, 10, 11, 'Y'),
 (2014, 'SLN', 29, 0.32, 5, 10, 7, 'N'),
 (2014, 'TBA', 26, 0.32, 5, 13, 7, 'N'),
 (2014, 'TEX', 27, 0.31, 15, 28, 27, 'N'),
 (2014, 'TOR', 3, 0.32, 5, 22, 7, 'N'),
 (2014, 'WAS', 10, 0.32, 5, 1, 11, 'N'),
 (2015, 'ARI', 17, 0.32, 7, 17, 6, 'N'),
 (2015, 'ATL', 30, 0.31, 17, 27, 11, 'N'),
 (2015, 'BAL', 3, 0.31, 17, 18, 2, 'N'),
 (2015, 'BOS', 15, 0.33, 2, 25, 20, 'N'),
 (2015, 'CHA', 26, 0.31, 17, 14, 24, 'N'),
 (2015, 'CHN', 12, 0.32, 7, 3, 25, 'N'),
 (2015, 'CIN', 13, 0.31, 17, 26, 11, 'N'),
 (2015, 'CLE', 22, 0.32, 7, 8, 2, 'N'),
 (2015, 'COL', 7, 0.32, 7, 30, 11, 'N'),
 (2015, 'DET', 18, 0.33, 2, 28, 6, 'N'),
 (2015, 'HOU', 2, 0.32, 7, 6, 6, 'N'),
 (2015, 'KCA', 24, 0.32, 7, 10, 11, 'Y'),
 (2015, 'LAA', 10, 0.31, 17, 13, 20, 'N'),
 (2015, 'LAN', 6, 0.33, 2, 5, 1, 'N'),
 (2015, 'MIA', 29, 0.31, 17, 15, 2, 'N'),
 (2015, 'MIL', 21, 0.31, 17, 24, 26, 'N'),
 (2015, 'MIN', 16, 0.31, 17, 19, 6, 'N'),
 (2015, 'NYA', 4, 0.32, 7, 16, 11, 'N'),
 (2015, 'NYN', 8, 0.31, 17, 4, 6, 'Y'),
 (2015, 'OAK', 20, 0.31, 17, 21, 30, 'N'),
 (2015, 'PHI', 28, 0.3, 29, 29, 26, 'N'),
 (2015, 'PIT', 23, 0.32, 7, 2, 26, 'N'),
 (2015, 'SDN', 19, 0.3, 29, 20, 11, 'N'),
 (2015, 'SEA', 5, 0.31, 17, 22, 11, 'N'),
 (2015, 'SFN', 26, 0.33, 2, 9, 2, 'N'),
 (2015, 'SLN', 25, 0.32, 7, 1, 20, 'N'),
 (2015, 'TBA', 13, 0.31, 17, 11, 20, 'N'),
 (2015, 'TEX', 11, 0.33, 2, 23, 26, 'N'),
 (2015, 'TOR', 1, 0.34, 1, 12, 11, 'N'),
 (2015, 'WAS', 8, 0.32, 7, 7, 11, 'N'),
 (2016, 'ARI', 16, 0.32, 12, 30, 20, 'N'),

In [12]:
%%sql
# only displaying Cham and NonCham
With t1 as 

(

SELECT yearID,
       teamID,
       RANK() OVER (Partition by yearID ORDER BY HR desc) as Hr_Rank,
       ROUND((H+BB+HBP)/(AB+BB+HBP+SF),2) AS onbase_percentage,
       RANK() OVER (Partition by yearID ORDER BY onbase_percentage desc) AS onbase_rank,
       RANK() OVER (Partition by yearID ORDER BY ERA ASC) as era_rank,
       RANK() OVER (Partition by yearID ORDER BY FP desc) as Fp_Rank, LgWin
FROM  Teams
WHERE yearID>=2000 AND yearID<=2016)

SELECT *
FROM(SELECT LgWin,AVG(Hr_Rank) OVER(Partition BY LgWin),AVG(onbase_rank) OVER(Partition BY LgWin),AVG(era_rank) OVER(Partition BY LgWin),AVG(Fp_Rank) OVER(Partition BY LgWin)
FROM t1
WHERE yearID>=2000 AND yearID<=2016) AS HEY
GROUP BY LgWin;

2 rows affected.

[('N', Decimal('15.6092'), Decimal('12.4769'), Decimal('15.9895'), Decimal('14.0714')),
 ('Y', Decimal('12.0294'), Decimal('7.7941'), Decimal('7.2647'), Decimal('10.4118'))]

In [14]:
%%sql
SELECT teamID,
       AVG(Hr_Rank),
       AVG(onbase_rank),
       AVG(era_rank), 
       AVG(Fp_Rank)
FROM(
       SELECT yearID,
              teamID,
              RANK() OVER (Partition by yearID ORDER BY HR desc) as Hr_Rank,
              ROUND((H+BB+HBP)/(AB+BB+HBP+SF),2) AS onbase_percentage,
              RANK() OVER (Partition by yearID ORDER BY onbase_percentage desc) AS onbase_rank,
              RANK() OVER (Partition by yearID ORDER BY ERA ASC) as era_rank,
              RANK() OVER (Partition by yearID ORDER BY FP desc) as Fp_Rank
FROM  Teams
WHERE yearID>=2013 AND yearID<=2016) AS babasss
WHERE teamID='ARI';

1 rows affected.

[('ARI', Decimal('20.7500'), Decimal('13.2500'), Decimal('22.5000'), Decimal('11.5000'))]

#Which statistic(s) better differentiates league champions from all other teams?  
- ERA_Rank differentiate league champions from all other teams.
Where is your team currently doing well?  
- ARI has higher ranks in the HR_Rank, Onbase_Rank, and Fp_Rank
Are there potential opportunities for improvement?
- ARI could improve on the ERA_Rank

In [16]:
%%sql
With t1
as
(
SELECT *,RANK() OVER (Partition by POS,yearID ORDER BY InnOuts desc) as siralama
FROM Fielding
WHERE InnOuts != '' AND yearID>=2013 AND yearID<=2016 and teamID='ARI' ),

t2 as
(

SELECT *
FROM t1
WHERE siralama=1
GROUP BY yearID,POS),
t3 as

(
select t2.playerID,yearID,POS,siralama,DATE(CONCAT(birthYear,'-',birthMonth,'-',birthDay))  AS DateOfBirth,DATE(CONCAT(yearID,'-',01,'-',01))  AS BegOfYear,TIMESTAMPDIFF(YEAR,DATE(CONCAT(birthYear,'-',birthMonth,'-',birthDay)),DATE(CONCAT(yearID,'-',01,'-',01))) as Age
from t2
inner join Master
on Master.playerID=t2.playerID
ORDER BY yearID)

SELECT yearID,AVG(Age)
FROM t3
GROUP BY yearID;

4 rows affected.

[(2013, Decimal('28.7143')),
 (2014, Decimal('27.2857')),
 (2015, Decimal('27.5714')),
 (2016, Decimal('24.5714'))]

If MLB players typically peak at an age of 27 (i.e. they improve up to the age of 27 and regress afterwards), is there any potential correlation between your teams recent results and its average age?
- No. Our team was doing well in 2013 (rank 16) while the average age was 28.7. If MLB players peak at the age of 27, we should expect the rank improve in 2014 and 2015. But we got worse reselts.

## Task 2

In [20]:
%%sql
WITH t1 AS
(
SELECT 1.212 AS wOBA_Scale,
       yearID,
       (.691*(BB - IBB) + .721*(HBP) + .878*(H-2B-3B-HR) + 1.242*(2B) + 1.569*(3B) + 2.015*(HR)) / (AB + BB - IBB + SF + HBP) AS League_wOBA
FROM Batting 
)
SELECT  wOBA_Scale,
        SUM(t1.League_wOBA) as sum_League_wOBA
FROM    t1
WHERE   yearID = 2016;

1 rows affected.

/opt/conda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1365, 'Division by 0')
  result = self._query(query)

[(Decimal('1.212'), 237.7206957332947)]

In [25]:
%%sql
With t1
as
(
SELECT *,RANK() OVER (Partition by POS,yearID ORDER BY InnOuts desc) as siralama
FROM Fielding
WHERE InnOuts != '' AND yearID = 2016 and teamID='ARI' ),

t2 as
(

SELECT *
FROM t1
WHERE siralama=1
GROUP BY yearID,POS),
t3 as

(
select t2.playerID,yearID,POS,siralama,DATE(CONCAT(birthYear,'-',birthMonth,'-',birthDay))  AS DateOfBirth,DATE(CONCAT(yearID,'-',01,'-',01))  AS BegOfYear,TIMESTAMPDIFF(YEAR,DATE(CONCAT(birthYear,'-',birthMonth,'-',birthDay)),DATE(CONCAT(yearID,'-',01,'-',01))) as Age
from t2
inner join Master
on Master.playerID=t2.playerID
ORDER BY yearID)

SELECT t3.playerID,
          POS
                
FROM t3;

InternalError: (pymysql.err.InternalError) (1046, 'No database selected') [SQL: "With t1\nas\n(\nSELECT *,RANK() OVER (Partition by POS,yearID ORDER BY InnOuts desc) as siralama\nFROM Fielding\nWHERE InnOuts != '' AND yearID = 2016 and teamID='ARI' ),\n\nt2 as\n(\n\nSELECT *\nFROM t1\nWHERE siralama=1\nGROUP BY yearID,POS),\nt3 as\n\n(\nselect t2.playerID,yearID,POS,siralama,DATE(CONCAT(birthYear,'-',birthMonth,'-',birthDay))  AS DateOfBirth,DATE(CONCAT(yearID,'-',01,'-',01))  AS BegOfYear,TIMESTAMPDIFF(YEAR,DATE(CONCAT(birthYear,'-',birthMonth,'-',birthDay)),DATE(CONCAT(yearID,'-',01,'-',01))) as Age\nfrom t2\ninner join Master\non Master.playerID=t2.playerID\nORDER BY yearID)\n\nSELECT t3.playerID,\n          POS\n                \nFROM t3;"]

## Task 3

In [18]:
%%sql
WITH T1 AS
(
SELECT *,
                COUNT(*) OVER (PARTITION BY playerID) AS Tot_season,
                CASE
                WHEN teamID = 'FLO' THEN 'MIA'
                WHEN teamID != 'FLO' THEN teamID
                END AS clean_id
FROM     Managers
GROUP BY playerID,
         yearID
HAVING G =162
),
T2 AS 
(
SELECT *
FROM  T1
WHERE T1.Tot_season != 1 AND
      T1.yearID >= 2010  AND
                T1.yearID <= 2016
),
T6 AS
(
SELECT *,
    CASE
                WHEN teamID = 'CHA' THEN 'CHW'
                WHEN teamID = 'CHC' THEN 'CHN'
                WHEN teamID = 'FLO' THEN 'MIA'
                WHEN teamID = 'KCA' THEN 'KCR'
                WHEN teamID = 'LAD' THEN 'LAN'
                WHEN teamID = 'NYA' THEN 'NYY'
                WHEN teamID = 'NYM' THEN 'NYN'
                WHEN teamID = 'SDN' THEN 'SDP'
                WHEN teamID = 'SFG' THEN 'SFN'
                WHEN teamID = 'SLN' THEN 'STL'
                WHEN teamID = 'TBA' THEN 'TBR'
                WHEN teamID = 'WAS' THEN 'WSN'
                ELSE teamID
                END AS clean_id2
FROM Salaries
),
T3 AS
(
SELECT  T2.playerID,
        T2.yearID,
        T2.clean_id,
                T2.W,
                T2.G,
                T2.Tot_season,
        SUM(T6.salary) OVER (PARTITION BY T2.clean_id, T2.yearID) AS Tot_sal
FROM    T2
INNER JOIN T6
ON  T2.clean_id = T6.clean_id2 AND
    T2.yearID = T6.yearID
GROUP BY playerID,
         yearID
),
T4 AS
(
SELECT *,
    T3.W/Tot_sal AS bang
FROM T3
),
T5 AS 
(
SELECT *,
       AVG(T4.bang) OVER (PARTITION BY T4.playerID) AS Avg_bang
FROM  T4

 )
SELECT  T5.playerID,
        T5.yearID,
        Avg_bang
FROM  T5
GROUP BY T5.playerID
ORDER BY Avg_bang DESC
LIMIT 10
;

10 rows affected.

[('actama99', 2010, Decimal('0.00020000')),
 ('leylaji99', 2010, Decimal('0.00020000')),
 ('manueje01', 2010, Decimal('0.00020000')),
 ('gerenbo01', 2010, Decimal('0.00020000')),
 ('gonzafr99', 2011, Decimal('0.00018000')),
 ('halech01', 2015, Decimal('0.00015000')),
 ('francte01', 2010, Decimal('0.00015000')),
 ('millsbr01', 2010, Decimal('0.00015000')),
 ('showabu99', 2011, Decimal('0.00013333')),
 ('farrejo03', 2011, Decimal('0.00013333'))]

In [27]:
%%sql
# How does your teams coach(es) in 2016 compare to this list?  
# First we will generate the list for 2016

WITH T1 AS
(
SELECT *,
                COUNT(*) OVER (PARTITION BY playerID) AS Tot_season,
                CASE
                WHEN teamID = 'FLO' THEN 'MIA'
                WHEN teamID != 'FLO' THEN teamID
                END AS clean_id
FROM Managers
WHERE teamID = 'ARI'
GROUP BY playerID,
         yearID
HAVING G =162
),
T2 AS 
(
SELECT *
FROM  T1
WHERE T1.Tot_season != 1 AND
      T1.yearID = 2016
),
T6 AS
(
SELECT *,
       CASE
                WHEN teamID = 'CHA' THEN 'CHW'
                WHEN teamID = 'CHC' THEN 'CHN'
                WHEN teamID = 'FLO' THEN 'MIA'
                WHEN teamID = 'KCA' THEN 'KCR'
                WHEN teamID = 'LAD' THEN 'LAN'
                WHEN teamID = 'NYA' THEN 'NYY'
                WHEN teamID = 'NYM' THEN 'NYN'
                WHEN teamID = 'SDN' THEN 'SDP'
                WHEN teamID = 'SFG' THEN 'SFN'
                WHEN teamID = 'SLN' THEN 'STL'
                WHEN teamID = 'TBA' THEN 'TBR'
                WHEN teamID = 'WAS' THEN 'WSN'
                ELSE teamID
                END AS clean_id2
FROM Salaries
),
T3 AS
(
SELECT  T2.playerID,
        T2.yearID,
        T2.clean_id,
        T2.W,
        T2.G,
        T2.Tot_season,
        SUM(T6.salary) OVER (PARTITION BY T2.clean_id, T2.yearID) AS Tot_sal
FROM T2
INNER JOIN T6
ON  T2.clean_id = T6.clean_id2 AND
    T2.yearID = T6.yearID
GROUP BY playerID,
         yearID
),
T4 AS
(
SELECT *,
       T3.W/Tot_sal AS bang
FROM T3
),
T5 AS 
(
SELECT *,
      AVG(T4.bang) OVER (PARTITION BY T4.playerID) AS Avg_bang
FROM  T4

 )
SELECT  T5.playerID,
        T5.yearID,
        Avg_bang
FROM T5
GROUP BY T5.playerID
ORDER BY Avg_bang DESC
LIMIT 10
;
# From the result we can see the coach for ARI is not in TOP 10

UnicodeEncodeError: 'latin-1' codec can't encode character '\u2019' in position 20: ordinal not in range(256)